/*******************************************
*
* Developer: Mitchell
* Date: Apr 4 2023
*
********************************************/

p{
    font-size: 16px;
    color: red;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    
}
h2{
    font-family:Arial, Helvetica, sans-serif
}
p{
    font-family:Arial, Helvetica, sans-serif
}